.nav {
        grid-area: menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: rem(60);
        font-family: var(--font-family-regular);

        &.header-nav {
            @include tablet {
                gap: rem(40);
            }
            @include mobile {
                flex-direction: column;
                justify-content: center;
            }
        }

        &.footer-nav {
            @include mobile {
                gap: rem(24);
            }
        }

        &-link {
            color: var(--color-gray-95);

            &.is-active {
                color: var(--color-accent);
                pointer-events: none;
            }
        }
    }