.form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(50);
    width: 80%;
    
    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(30);
    }

    &__group {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: rem(10);

        &__label {
            color: var(--color-gray-95);

            & span {
                color: var(--color-red)
            }
        }

        &__input {
            width: 100%;
            height: rem(54);
            padding: rem(14) rem(24);
            border: none;
            background-color: var(--color-gray-opacity);
            border-radius: rem(8);
            color: var(--color-gray-70);

            &--error {
                border: var(--border-accent);
            }
        }

        &__error {
            position: absolute;
            display: block;
            bottom: rem(-30);
            color: var(--color-accent);
            font-size: rem(16);
        }
    }

    &__submit {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        max-width: rem(170);
        margin-block-start: rem(30);

        @include mobile {
            align-self: center;
        }

        &[disabled] {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }

    &__messages {
        position: absolute;
        bottom: rem(65);
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        text-align: center;

        @include mobile {
            bottom: rem(45);
        }
    }

    &__error-message,
    &__success-message {
        font-size: rem(16);
        padding: rem(8);
        border-radius: rem(8);
        border: var(--border);
        background: var(--color-gray-opacity);
    }

    &__error-message {
        color: var(--color-red);
    }

    &__success-message {
        color: var(--color-green);
    }
}
