.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.scroll-to-top button {
    padding: 0;
    background-color: var(--color-dark);
    opacity: 0.8;
    color: var(--color-accent);
    border: var(--border-accent);
    border-radius: rem(8);
    width: rem(150);
    height: rem(70);
    cursor: pointer;

    @include mobile {
        width: rem(120);
        height: rem(50);
    }
}

.scroll-to-top button:hover {
    background: var(--color-gray);
}