.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(18);
    font-family: var(--font-family-regular);

    &__title {
        font-family: var(--font-family-bold);
        font-weight: 600;
    }

    &__subtitle {
        margin-block-end: rem(32);
        font-weight: 400;
        color: var(--color-gray-70);
        text-align: center;

        @include mobile {
            margin-block-end: rem(22);
        }
    }

}